/* CSS files add styling rules to your content */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2em;
}

h1 {
  font-weight: 100px;
  color: #373fff;
}

.header {
  padding: 20px;
  text-align: center;
  background: #0000ff;
  color: white;
  font-size: 30px;
}

.hbutton {
  background-color: #9955FF;
  border: #0000FF;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
