/* CSS files add styling rules to your content */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /*margin: 2em;*/
  background-color: #555555;
}

h1 {
  font-weight: 100px;
  color: #34e1eb;
}

h2 {
  font-weight: 100px;
  color: #ffffff;
}

h3 {
  font-weight: 100px;
  color: #ffffff;
}

h4 {
  font-weight: 100px;
  color: #ffffff;
}

p {
  font-weight: 100px;
  color: #dddddd;
}

.header {
  padding: 20px;
  text-align: center;
  background: #0000ff;
  color: white;
  font-size: 30px;
}

.button {
  background-color: #9955FF;
  border: #0000FF;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
